
* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

#container {
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
	color: #333;
	width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #efefef;
	border-radius: 5px;
}

h1 {
	text-align: center;
	letter-spacing: -0.5px;
	font-size: 28px;
}

hr {
	border: none;
	border-bottom: 1px solid #bbb;
}

#game {
    display: none;
    position: relative;
}

.training-choices {
    position: absolute;
    top: 150px;
    left: 300px;
}

.squares {
    -webkit-user-select: none;
	box-sizing: content-box;
	width: 360px;
	margin: 20px auto;
	min-height: 360px;
	border: 1px solid #aaa;
}

.square {
    -webkit-user-select: none;
	border: 2px solid #aaa;
	float: left;
	text-align: center;
	color: #555;
    text-transform: uppercase;
    &.highlight {
        border-color: red;
    }
}

.choices {
    position: absolute;
    top: 0;
    span {
        display: block;
    }
}

.buttons {
    position: absolute;
    top: 385px;
    left: 198px;
}

.persisting-msg {
    margin: 20px 0;
    color: red;
    opacity: 0;
    &.show {
        opacity: 1;
    }
}

.persist, .toggle, .training-choices>div {
    float: left;
    text-align: center;
    width: 160px;
    padding: 20px;
    border-radius: 3px;
    background-color: #ccc;
    margin: 5px;
    color: white;
    cursor: pointer;
    transition: all 200ms linear;
    &:hover {
        background-color: #aaa;
    }
}

.total {
    font-style: italic;
    font-weight: bold;
}
