
* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

#container {
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
	color: #333;
	width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #efefef;
	border-radius: 5px;
}

h1 {
	text-align: center;
	letter-spacing: -0.5px;
	font-size: 28px;
}

hr {
	border: none;
	border-bottom: 1px solid #bbb;
}

#game {
    position: relative;
}

.squares {
    -webkit-user-select: none;
	box-sizing: content-box;
	width: 360px;
	margin: 20px auto;
	min-height: 360px;
	border: 1px solid #aaa;
}

.square {
    -webkit-user-select: none;
	border: 2px solid #aaa;
	float: left;
	text-align: center;
	color: #555;
    text-transform: uppercase;
    &.highlight {
        border-color: red;
    }
}

.choices {
    position: absolute;
    top: 0;
    span {
        display: block;
    }
}

.clear, .toggle {
    text-align: center;
    width: 160px;
    padding: 20px;
    border-radius: 3px;
    background-color: #ccc;
    margin: 5px auto;
    color: white;
    cursor: pointer;
    transition: all 200ms linear;
    &:hover {
        background-color: #aaa;
    }
}

.notification {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    transition: all 250ms ease;
    -webkit-transform: translateY(0);
    text-transform: uppercase;
    &.show {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translateY(20px);
    }
}

input.discover {
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100px;
}
