* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  color: #333; }

#container {
  position: relative;
  width: 650px;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 5px; }

.title {
  width: 291px;
  position: absolute;
  top: 390px;
  right: 0;
  text-align: right;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5); }

h1 {
  margin-bottom: 5px;
  letter-spacing: -1px;
  font-size: 50px; }

h3 {
  font-size: 24px;
  margin: 0 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555; }

h5 {
  font-weight: 300;
  font-size: 22px;
  margin-top: 0; }

#game {
  display: none;
  position: relative; }

.training-choices {
  margin: 100px auto;
  width: 300px; }

.squares {
  -webkit-user-select: none;
  box-sizing: content-box;
  width: 360px;
  margin: 20px auto;
  min-height: 360px;
  position: absolute;
  right: 0;
  top: 0; }

.square {
  -webkit-user-select: none;
  float: left;
  text-align: center;
  color: #555;
  text-transform: uppercase;
  font-weight: 900; }
  .square:nth-child(even), .square:nth-child(5) {
    border: 2px solid #555; }
  .square:nth-child(2), .square:nth-child(8) {
    border-top: none;
    border-bottom: none; }
  .square:nth-child(4), .square:nth-child(6) {
    border-right: none;
    border-left: none; }
  .square.highlight {
    background-color: rgba(255, 0, 0, 0.1); }

.choices {
  font-weight: 600;
  position: absolute;
  top: 385px;
  width: 280px; }
  .choices .choice {
    display: inline-block;
    cursor: default;
    width: 48%;
    margin: 2px 1%;
    float: left; }
    .choices .choice span {
      padding-right: 8px; }

.buttons {
  position: absolute;
  top: 200px;
  left: 0; }

.persist, .toggle, .training-choices > div {
  float: left;
  text-align: center;
  width: 300px;
  padding: 20px 0;
  border-radius: 3px;
  background-color: #555;
  margin: 5px;
  color: white;
  cursor: pointer;
  transition: all 200ms linear;
  font-weight: 600; }
  .persist:hover, .toggle:hover, .training-choices > div:hover {
    background-color: #3d3d3d; }

.scores {
  position: absolute;
  top: 23px;
  width: 180px; }
  .scores h3 {
    font-size: 32px; }
  .scores span {
    float: right; }

.toggle {
  margin: 0;
  width: 183px; }

.total {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px; }

.msg {
  font-size: 24px; }
  .msg .for-playing {
    width: 185px;
    position: absolute;
    left: 0;
    top: 285px;
    font-size: 20px; }
  .msg .for-training {
    position: absolute;
    top: 168px;
    right: 85px;
    background: rgba(85, 85, 85, 0.9);
    padding: 20px 35px;
    font-weight: 900;
    color: white; }

.for-playing, .for-training {
  opacity: 0;
  -webkit-transition: opacity 150ms linear;
  pointer-events: none; }
  .for-playing.show, .for-training.show {
    opacity: 1;
    pointer-events: auto; }

.info_btn, .info_container {
  font-weight: 600;
  background-color: #333; }

#info h1 {
  font-size: 30px;
  line-height: 1.2em; }
#info p {
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 300; }
